---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

import propImg from "../../assets/pics/photo-2.jpeg";
import propImg2 from "../../assets/pics/photo-5.jpeg";
---

<Section>
  <Card>
    <div
      class="flex bg-[#F3F3F3] rounded-[45px] px-7 py-10 md:p-[60px] relative mt-[123px] mb-[163px]"
    >
      <div class="w-full md:w-[40%] flex flex-col gap-[26px]">
        <h2 class="text-3xl font-medium">Jadi Seorang Arwi Profesional Sekarang Juga!</h2>
        <Image
          src={propImg}
          alt="Arwi"
          class="md:hidden flex lg:h-full lg:w-auto rounded-3xl shadow-[0px_5px_0px_#191a23] grayscale"
        />
        <p>
          Dengan jumlah kursi yang terbatas di setiap batch<sup>*</sup>, Arwi menawarkan kesempatan yang sangat langka untuk mendapatkan kesempatan belajar yang akan membantu kamu memulai karir sebagai Arwi profesional.
        </p>
        <Image
          src={propImg2}
          alt="Arwi"
          class="md:hidden flex lg:h-full lg:w-auto rounded-3xl shadow-[0px_5px_0px_#191a23] grayscale"
        />
        <p class="font-black text-xl">Batch terdekat: 🇮🇩 Agustus 2025 🇮🇩</p>
        <p class="italic text-sm"><sup>*</sup>) Jika kamu kehabisan kursi, maka kamu harus menunggu (waiting list) hingga batch selanjutnya dibuka.</p>
        <a href="https://wa.me/6282297898514" class="btn-primary text-center bg-blue text-white hover:bg-black hover:text-white shadow-[0px_5px_0px_#191a23]">Daftar Sekarang</a>
      </div>
      <picture
        class="hidden md:flex flex-col absolute right-[-10%] lg:right-0 top-[-15%] h-[350px] items-center justify-center space-y-5 mt-36"
      >
        <Image
          src={propImg}
          alt="Arwi"
          class="hidden md:flex lg:h-full lg:w-auto rounded-3xl shadow-[0px_5px_0px_#191a23] grayscale"
        />
        <Image
          src={propImg2}
          alt="Arwi"
          class="hidden md:flex lg:h-full lg:w-auto rounded-3xl shadow-[0px_5px_0px_#191a23] grayscale"
        />
      </picture>
    </div>
  </Card>
</Section>
