---
import SectionTitle from "../ui/SectionTitle.astro";
import SwiperSlider from "../ui/SwiperSlider.astro";
import Section from "./Section.astro";
---

<Section id="testimonials">
  <div class="mt-10">
    <SectionTitle
      sectionTitle="Testimonial"
      description="Dengarkan pengalaman para alumni yang telah mengikuti program Kampus RWID. Mereka telah berhasil mengembangkan keterampilan digital dan memulai karir di industri teknologi."
    />
    <div class="rounded-[45px] bg-dark mb-[150px] text-gray">
      <SwiperSlider />
    </div>
  </div>
</Section>
